.square {
    background: #F9C991;
    border: 1px solid #999;
    float: left;
    font-size: var(--fs-h2);
    font-weight: bold;
    line-height: 34px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
    color: #3f6561;
  }