header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
  
  .nav {
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 25px;
  }
  .nav__link>a{
      color: var(--clr-accent);
  }
  
  .nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
    padding: 0px 15px;
  }
  
  .nav__link:hover {
    color: var(--clr-accent);
  } 
  