/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }
 
 /* Custom Properties, update these for your own design */
 
 :root {
     --ff-primary: 'Source Sans Pro', sans-serif;
     --ff-secondary: 'Source Code Pro', monospace;
     
     --fw-reg: 100;
     --fw-bold: 500;
     
     --clr-light: #fff;
     --clr-dark: #292929;
     --clr-accent: #16e0bd; /* #FBE04B */
     
     
     --fs-h1: 3rem;
     --fs-h2: 2.0rem;
     --fs-h3: 1.25rem;
     --fs-body: 1rem;
     
     --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
           0.125em 0.125em 0.25em rgba(0,0,0,.15);
 }
 
 @media (min-width: 800px) {
     :root {
         --fs-h1: 4.5rem;
         --fs-h2: 1.5rem;  
         --fs-h3: 1.25rem;
         --fs-body: 1.125rem;
     }
 }

